.kris-my-form {
  margin-left: 50px;

} 

.backe{
    padding: 5px;
    border-radius: 25px;
  }


  .image-profile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    border-radius: 25%;
    justify-items: center;
    /* box-shadow: 0px 4px 20px rgb(24, 23, 23); */
}

  
  .kris-my-form select,
  .kris-my-form input,
  .kris-my-form textarea,
  .kris-my-form button {
    width: 100%;
    line-height: 1.5;
    padding: 15px 10px;
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
      transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }
  
  .kris-my-form select:focus,
  .kris-my-form input:focus,
  .kris-my-form textarea:focus {
    transform: scale(1.02);
  }

  .kris-my-form button{
    display: inline-block;

  }

.kris-my-form button {
    background-color: #1fb39b;
    color: #ffffff;
    border-radius: 15px;
}
  
  .kris-my-form button:enabled:hover .front,
  .kris-my-form button:focus .front {
    transform: translateX(110%);
  }
  
  .kris-my-form input[type="checkbox"]:checked + label::after {
    transform: rotate(45deg);
  }
    
  @media screen and (min-width: 600px) {
    .kris-my-form .grid {
      display: grid;
      grid-gap: 1.5rem;
      padding: 7px;
    }
  
    .kris-my-form .grid-2 {
      grid-template-columns: 1fr 1fr;
      padding: 2px;
    }
  
    .kris-my-form .grid-3 {
      grid-template-columns: auto auto auto;
      align-items: center;
    }
  
    .kris-my-form .required-msg {
      display: block;
    }
  }