
.kris-the-card-container {
  color: #0ca3bb;
  width: 500px;
  max-width: 100%;
  text-align: center;
}

.kris-the-card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

.skills {
	background-color: #1f5156;
	padding: 15px;
	color: white;
	border-radius: 15px;
	margin-top: 15px;
}

.skills ul li {
	border: 1px solid #62d1d1;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
  	align-items: center;
}
 
