.freelancer{
    width: 31vh;
    position: absolute;
    top: 34%;
    left: 104%;
}

.back-icon{
    padding-top: 5%;
    padding-right: 10%;
    position: absolute;
    bottom: 92%;
    right: 66%;
}

.scrollable-div {
    max-height: 400px; 
    overflow-y: auto;
}

.btn-custom {
    background-color: #23CFB0;
    border-color: #23CFB0;
    color: #ffffff;
}

.btn-custom:hover {
    background-color: #1fb39b;
    border-color: #1fb39b;
    color: #ffffff;
}

.btn-custom:active {
    background-color: #1fa385 !important;
    border-color: #1fa385 !important;
    color: #ffffff !important;
}

@media (min-width: 576px) {
    .cards {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .cards {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .cards {
        width: 60%;
    }
}

@media (min-width: 1400px) {
    .cards {
        width: 50%;
    }
}