.quotation-card-body{
    margin-left: 9%;
    font-size: 14px;
}

.quotation-list-title{
    color: #23CFB0;
}

.quotation-row{
    border-radius: 8px;
    border: solid;
    border-width: 2px;
    border-color: #F1F1F1;
    margin-bottom: 4%;

}