
#resetPasswordTokenContainer {
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

#resetPasswordTokenTitle {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    /* Adjust the font size of the title as needed */
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d8d8da;
    border-radius: 4px;
}

#btn-updatePassword {
    background-color: #23CFB0;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

h2 {
    text-align: center;
}